<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin!{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/unnamed.jpg') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% include 'admin/partials/header.html.twig' %}
{% include 'admin/partials/flash.html.twig' %}
{% block body %}{% endblock %}

</body>
</html>


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

</body>
</html>
