{% extends 'base.html.twig' %}

{% block title %}WebPosts - Articles{% endblock %}

{% block body %}
    <main class="container">
        <section id="posts">
            <div class="row">
                <h2 class="display-4 my-5">Tous nos articles</h2>
            </div>
        </section>
    </main>
{% endblock %}
